/* global.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #0a559f;
  --secondary-color: #19216c;
  --dark-blue: #0a224e;
}

body {
  @apply bg-gradient-to-r from-blue-900 to-blue-700;
  color: #333; /* Colore del testo: grigio scuro */
  font-family: 'Roboto', sans-serif; /* Utilizzo di Roboto come font globale */
}
