.notifications-wrapper {
  @apply flex justify-center items-center min-h-screen bg-gray-200;
}

.notification-container {
  width: 100%;
  @apply mx-auto max-w-3xl p-4 mt-3 flex flex-col items-center;
}

.notification-item {
  width: 90%; 
  @apply bg-white p-4 mb-4 shadow-md rounded-lg mx-auto mt-3 relative;
  border-bottom: 1px solid #ccc;
  transition: transform 0.3s;
  padding-top: 3rem; /* Questo può essere uniformato se desideri, altrimenti mantienilo così per ospitare il badge */

  /* Dimensioni desktop */
  @screen md {
    width: 50%;
  }

  /* Dimensioni mobile */
  @screen sm {
    width: 90%;
  }
}

.notification-item:hover {
  transform: translateY(-5px);
}

.notification-item .created-at {
  @apply absolute top-4 left-4 text-sm font-medium; /* Posizionamento e stili */
}

.notification-type-badge {
  @apply absolute top-4 right-4 rounded-md py-1 px-2 text-white font-bold; /* Modificato il posizionamento e il border-radius */
  font-size: 0.75rem;
}

.notification-type-badge-high {
  @apply bg-red-500;
}

.notification-type-badge-medium {
  @apply bg-yellow-500;
}

.notification-type-badge-low {
  @apply bg-green-500;
}

.notification-item p {
  @apply mb-2;
}

.notification-item h2 {
  @apply text-xl font-semibold;
  color: #1a237e;
}

.notification-item p.meta {
  @apply text-sm;
  color: #757575;
}

.notification-item .created-at {
  @apply text-right text-sm;
}

.notification-footer {
  @apply mt-4 pt-4 border-t border-gray-300 flex justify-start; /* Modificato l'allineamento a sinistra */
}

.mark-button {
  @apply px-4 py-2 rounded text-white bg-primary;
  transition: background-color 0.3s;
}

.mark-button:hover {
  @apply bg-primary-dark; 
}

.mark-button.read {
  @apply bg-transparent text-primary ml-4 mt-2; 
}
.mark-button.unread {
  @apply bg-primary;
}